# Node / backend
node_modules/
dist/
build/
.env

# Flutter / mobile
/.dart_tool/
/.build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
pubspec.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Windows reserved files
nul
**/nul

# Mac / Linux system files
.DS_Store

# Sensitive files - signing keys
mobile/upload-keystore.jks
**/*.jks
**/*.keystore
